* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Baloo Chettan 2", sans-serif;
}

body {
  background-color: #f5f7fa;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
/* Posiciona la flecha en la esquina superior izquierda */
i {
  position: fixed;
  top: 10px; /* Ajusta según sea necesario */
  left: 10px; /* Ajusta según sea necesario */
  cursor: pointer;
  z-index: 1000; /* Asegúrate de que la flecha esté encima de otros elementos */
  font-size: 24px;
}

a:visited i {
  color: black; /* asegurate que los íconos no cambien al ser visitados */
}


.container {
  background-color: white;
  border-radius: 20px;
  padding: 40px;
  width: 350px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 33px;
  margin-bottom: 40px;
  font-weight: 600;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: normal;
  font-size: 16px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid #000000;
  outline: none;
  font-size: 16px;
}

.submit-btn {
  background-color: #111;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 12px 40px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

svg {
  color: #000000;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid #ddd;
  background-color: #f1f1f1;
  cursor: pointer;
}

.register-link {
  margin-top: 15px;
}

.register-link a {
  text-decoration: none;
  color: #555555;
}

.register-link a:hover {
  text-decoration: underline;
}
